{% extends "layout.html" %}
{% block body %}
{% if page.page is none %}
<form action="/display" method="GET">
	<input type="hidden" value="determine" name="action">
	<input type="submit" value="取り込み">
</form>
{% else %}
<form action="/save_{{ page.page }}" method="POST">
	<input type="submit" value="保存">
	今週の一言:
	<textarea name="hitokoto" colos="100" rows="5"></textarea>
	<input type="text" name="year" size="4">年<input type="text" name="month" size="2">月<input type="text" name="day" size="2">日発表
	<table>
		<caption> {{ page.page }} Keyword </caption>
		<thead>
			<tr>
				<th>Rank</th>
				<th>先週のRank</th>
				<th>キーワード</th>
				<th>ポイント</th>
				<!-- <th>有効</th> -->
		</tr>
		</thead>
		<tbody>
			{% for keyword in page.keywords %}
			<tr>
				<th>{{ keyword.rank|safe }}</th>
				<th>{{ keyword.last_rank|safe }}</th>
				<td>{{ keyword.keyword|safe }}</td>
				<td>{{ keyword.point|safe }}</td>
				<!-- <td><input type="checkbox" name="valid" value="{{ keyword.no }}" checked></input></td> -->
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<input type="hidden" name="date_id" value="{{ page.date_id }}">
</form>
{% endif %}

{% endblock %}
